.notFound__container {
  height: calc(80vh - 32px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../404.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
